.example {
  background-color:$color-grey;
  padding:20px 20px 18px 20px;
}
.example__title {
  @include title-text;
  margin-bottom:25px;
}
.example__desc {
  font-size:14px;
  line-height:18px;
  font-family:Arial;
  margin-bottom:0;
  margin-top:0;
}
.example__wrapper {
  display:flex;
  justify-content:center;
  margin-bottom:0;
  margin-top:5px;
  color:$color-text;
}
.example__image-wrapper-after {
  display:none;
}
.example__item-wrapper {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:20px;
}
.example__item-wrapper_margin {
  margin-right:25px;
}
.example__item {
  width:122px;
  border:1px solid $color-cdcdcd;
  border-radius:3px;
  padding:15px 0 15px 0;
  text-align:center;
  font-size:24px;
  line-height:100%;
  color:#111111;
  text-transform:uppercase;
}
.example__item-desc {
  width:65px;
  font-size:12px;
  line-height:12px;
  font-family:Arial;
  color:$color-text;
  margin-top:-10px;
  padding:0 20px 0 20px;
  background-color:$color-grey;
  text-align:center;
}
.example__text {
  font-size:14px;
  text-transform:uppercase;
  text-align:center;
  margin-top:20px;
  margin-bottom:30px;
  color:#111111;
}
.example__image-wrapper {
  text-align:center;
  height:240px;
  background:url("../img/before-mobile@1x.png") -20px 5px no-repeat;
  background-size:auto 100%;
  margin-bottom:5px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url('../img/before-mobile@2x.png') -25px 10px no-repeat;
    background-size:auto 100%;
  }
}
.example__image {
  margin-left:-20px;
}
.example__progressbar-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top:30px;
  padding-bottom:15px;
}
.example__progressbar-text {
  font-size:16px;
  text-transform:uppercase;
  padding:0;
  margin:0;
}
.example__progressbar-border {
  background-color:$color-white;
  margin:0 20px 0 20px;
  padding:3px 40px 3px 5px;
  border:1px solid $color-cdcdcd;
  border-radius:10px;
}
.example__progressbar {
  width:35px;
  height:6px;
  background-color:$color-green;
  border-radius:5px;
}
@media all and (min-width: 768px) {
  .example {
    background-color:$color-white;
    padding:17px 0 0 0;
  }
  .example__wrapper {
  justify-content:flex-start;
  margin-bottom:0;
  margin-top:5px;
  color:$color-text;
  }
  .example__title {
    font-size:60px;
    margin-top:10px;
    margin-left:30px;
  }
  .example__desc {
    font-size:16px;
    line-height:24px;
    color:$color-text;
    margin-top:50px;
    margin-bottom:30px;
  }
  .example__wrapper-1 {
    display:flex;
    justify-content:space-between;
    width:100%;
  }
  .example__wrapper-2 {
  padding-left:30px;
  padding-right:30px;
  }
  .example__item-wrapper {
    margin-right:40px;
  }
  .example__item {
  width:160px;
  border-radius:5px;
  padding:20px 0 20px 0;
  font-size:30px;
  color:#111111;
  text-transform:uppercase;
  }
  .example__item-desc {
  width:auto;
  font-size:14px;
  line-height:14px;
  margin-top:-10px;
  padding:0 10px 0 10px;
  background-color:$color-white;
  }
  .example__text {
    font-size:20px;
    width:180px;
    text-align:right;
    padding-top:10px;
  }
  .example__wrapper-4 {
    position:relative;
  }
  .example__image-wrapper-main {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:stretch;
    //border:1px solid blue;
  }
  .example__image-wrapper {
    display:flex;
    height:690px;
    background:url("../img/before-tablet@1x.png") 45px 60px no-repeat, url(../img/bg_grey_before.png) left 230px repeat-x;
    background-size:690px auto, auto auto;
    flex-grow:1;
    margin-bottom:0;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/before-tablet@2x.png") 45px 60px no-repeat, url(../img/bg_grey_before.png) left 230px repeat-x;
      background-size: 690px auto, auto auto;
    }
  }
  .example__image-wrapper-after {
    display:flex;
    background:url("../img/after-tablet@1x.png") -340px 60px no-repeat, url("../img/bg_grey_after.png") left 230px repeat-x;
    flex-grow:1;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/after-tablet@2x.png") -340px 60px no-repeat, url(../img/bg_grey_before.png) left 230px repeat-x;
      background-size: 690px auto, auto auto;
    }
  }
  .example__image {
    width:666px;
    height:500px;
    border:1px solid green;
  }
  .example__image-after {
    width:666px;
    height:500px;
    border:1px solid green;
  }
  .example__progressbar-wrapper {
    position:absolute;
    bottom:0;
    left:13%;
    background-color:none;
    padding-bottom:70px;
  }
  .example__progressbar-text {
    font-size:20px;
    text-transform:uppercase;
  }
  .example__progressbar-border {
    background-color:none;
    margin:0 20px 0 20px;
    padding:0;
    border:none;
  }
  .example__progressbar {
    width:430px;
    height:6px;
    background-color:#dcdcdc;
    border-radius:5px;
  }
}
@media all and (min-width: 1200px) {
  .example {
    padding-top:40px;
  }
  .example__image-wrapper {
    margin:0;
    background:url("../img/before-desktop@1x.png") 30px 40px no-repeat, url(../img/bg_grey_before.png) left 230px repeat-x;
    background-size:690px auto, auto auto;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/before-desktop@2x.png") 30px 40px no-repeat, url(../img/bg_grey_before.png) left 230px repeat-x;
      background-size: 690px auto, auto auto;
    }
  }
  .example__image-wrapper-after {
    background:url("../img/after-desktop@1x.png") -365px 40px no-repeat, url(../img/bg_grey_before.png) left 230px repeat-x;
    background-size:690px auto, auto auto;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/after-desktop@2x.png") -365px 40px no-repeat, url(../img/bg_grey_before.png) left 230px repeat-x;
      background-size: 690px auto, auto auto;
    }
  }
  .example__title {
    margin-left:110px;
  }
  .example__desc {
    width:440px;
    margin-top:70px;
    margin-bottom:45px;
  }
  .example__wrapper-3 {
    position:relative;
    display:flex;
    vertical-align:top;
    flex-direction:row;
    justify-content:stretch;
    margin-top:60px;
    background-color:#f2f2f2;
  }
  .example__wrapper-4 {
    position:absolute;
    right:0px;
    top:-230px;
    width:790px;
    flex-grow:1;
  }
  .example__image-wrapper-main {
    display:flex;
    flex-direction:row;
  }
  .example__wrapper-1 {
    flex-direction:column;
  }
  .example__wrapper-2 {
    padding:0;
    flex-grow:1;
    padding-left:110px;
  }
  .example__image {
    top:-170px;
    left:0px;
  }
  .example__item-desc {
    background-color:#f2f2f2;
  }
  .example__text {
    width:auto;
    text-align:left;
    padding-top:30px;
    padding-bottom:35px;
  margin-bottom:35px;
  }
  .example__price {
    padding-left:60px;
  }
  .example__progressbar-wrapper {
    padding-bottom:65px;
    left:14%;
  }
}
