.features {
  padding:20px 20px 20px 20px;
}
.features__title {
  @include title-text;
  margin-bottom:35px;
}
.features__item {
  display:flex;
  margin:0;
  padding:0;
}
.features__logo-1, .features__logo-2, .features__logo-3, .features__logo-4  {
  background-color:$color-green;
  min-width:50px;
  height:50px;
  margin-right:20px;
  margin-bottom:20px;
  border:5px solid $color-green;
}
.features__desc {
  font-size:14px;
  line-height:18px;
  font-family:$font-text;
  color:$color-text;
}
@media all and (min-width: 768px) {
  .features {
    padding:0px 30px 45px 30px;
    border-bottom:1px solid #e6e6e6;
  }
  .features__item-wrapper {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
  }
  .features__title {
    font-size:60px;
    margin-bottom:55px;
  }
  .features__desc {
    font-size:16px;
    line-height:24px;
    width:250px;
  }
  .features__item {
    width:40%;
    height:245px;
    flex-direction:column;
  }
  .features__item:nth-child(1) {
  background:url("../img/1advantage.png") no-repeat;
  background-position:125px 0px;
  margin-bottom:70px;
  margin-right:100px;
  }
  .features__item:nth-child(2) {
  background:url("../img/2advantage.png") no-repeat;
  background-position:125px 0px;
  }
  .features__item:nth-child(3) {
  background:url("../img/3advantage.png") no-repeat;
  background-position:125px 0px;
  margin-right:100px;
  }
  .features__item:nth-child(4) {
  background:url("../img/4advantage.png") no-repeat;
  background-position:125px 0px;
  }
  .features__logo-1, .features__logo-2, .features__logo-3, .features__logo-4  {
  background-color:$color-green;
  margin-bottom:35px;
  border:15px solid $color-green;
  margin-bottom:35px;
  }
}
@media all and (min-width: 1200px) {
.features {
    padding:15px 0;
    border:none;
    max-width:1220px;
    margin-left:auto;
    margin-right:auto;
  }
  .features__item-wrapper {
    justify-content:space-between;
    padding-top:5px;
  }
  .features__item {
    width:245px;
    height:230px;
    margin-right:0;
  }
  .features__logo-1, .features__logo-2, .features__logo-3, .features__logo-4  {
    margin-bottom:30px;
  }
  .features__item:nth-child(1) {
    margin:0;
  }
  .features__item:nth-child(2) {
    margin:0;
    //order:1;
  }
  .features__item:nth-child(3) {
    margin:0;
  }
  .features__item:nth-child(4) {
    margin:0;
  }
  .features__desc {
    padding-top:0px;
  }

}
