.map {
  margin:0;
}
.map_bg {
  background-color:$color-grey;
}
.map__wrapper {
  display:flex;
}
.map__text {
  font-size:16px;
  line-height:20px;
  color:$color-111111;
  text-transform:uppercase;
  padding:27px 5px 27px 20px;
}
.map__address {
  font-size:14px;
  line-height:20px;
  font-family:$font-text;
  color:$color-text;
  padding:27px 10px 27px 10px;
}
.map__yandex {
  height:362px;
  background:url('../img/bg-map-mobile@1x.png') no-repeat;
  background-size:100% auto;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/bg-map-mobile@2x.png") no-repeat;
      background-size:100% auto;
    }
}
.map__text-wrap {
  display:inline-block;
  margin:0;
  padding:0;
}
@media all and (min-width: 768px) {
  .map {
    padding:0;
    margin:0;
  }
  .map__wrapper {
    padding:65px 75px 60px 70px;
    justify-content:space-between;
    align-items:flex-start;
  }
  .map__yandex {
    height:395px;
    background:url('../img/bg-map-tablet@1x.png') no-repeat;
    background-size:100% auto;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/bg-map-tablet@2x.png") no-repeat;
      background-size:100% auto;
    }
  }
  .map__text {
    width:170px;
    font-size:20px;
    line-height:25px;
    padding:0;
  }
  .map__text-wrap {
    display:inline-block;
    margin:0;
    padding:0;
  }
  .map__address {
    text-align:right;
    width:170px;
    font-size:16px;
    line-height:20px;
    padding:0;
  }
  .map__text-city {
    display:block;
    padding-top:20px;
  }
}
@media all and (min-width: 1200px) {
  .map {
    position:relative;
  }
  .map__yandex {
    height:400px;
    background:url('../img/bg-map-desktop@1x.png') no-repeat;
    background-size:100% auto;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/bg-map-desktop@2x.png") no-repeat;
      background-size:100% auto;
    }
  }
  .map__wrapper {
    position:absolute;
    top:100px;
    left:110px;
    z-index:5;
    background-color:$color-white;
    padding-left:75px;
    padding-right:80px;
    padding-top:60px;
  }
  .map__text {
    margin-right:80px;
  }
  .map__address {
    text-align:left;
  }
}
