.map {
  margin:0;
}
.map_bg {
  background-color:$color-grey;
}
.map__wrapper {
  display:flex;
}
.map__text {
  font-size:16px;
  line-height:20px;
  color:$color-111111;
  text-transform:uppercase;
  padding:30px 10px 30px 20px;
}
.map__address {
  font-size:14px;
  line-height:20px;
  font-family:Arial;
  color:$color-text;
  padding:30px 20px 30px 10px;
}
.map__yandex {
  height:365px;
  background:url('../img/moscow-city-map.jpg') no-repeat;
}
