.map {
  margin:0;
}
.map_bg {
  background-color:$color-grey;
}
.map__wrapper {
  display:flex;
}
.map__text {
  font-size:16px;
  line-height:20px;
  color:$color-111111;
  text-transform:uppercase;
  padding:27px 10px 27px 20px;
}
.map__address {
  font-size:14px;
  line-height:20px;
  font-family:Arial;
  color:$color-text;
  padding:27px 20px 27px 10px;
}
.map__yandex {
  height:362px;
  background:url('../img/moscow-city-map.jpg') no-repeat;
}
@media all and (min-width: 768px) {
  .map {
    padding:0;
    margin:0;
  }
  .map__wrapper {
    padding:65px 70px 60px 70px;
    justify-content:space-between;
    align-items:flex-start;
  }
  .map__yandex {
    height:395px;
  }
  .map__text {
    width:170px;
    font-size:20px;
    line-height:25px;
    padding:0;
  }
  .map__text-wrap {
    display:inline-block;
    margin:0;
    padding:0;
  }
  .map__address {
    text-align:right;
    width:170px;
    font-size:16px;
    line-height:20px;
    padding:0;
  }
  .map__text-city {
    display:block;
    padding-top:20px;
  }
}
@media all and (min-width: 1200px) {
  .map {
    position:relative;
  }
  .map__yandex {
    height:400px;
  }
  .map__wrapper {
    position:absolute;
    top:100px;
    left:110px;
    background-color:$color-white;
    padding-left:80px;
    padding-right:80px;
  }
  .map__text {
    margin-right:50px;
  }
}
