.more-products-wrapper {
  padding:30px 20px 20px 20px;
}
.more-products {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  border-top:1px solid $color-cdcdcd;
}
.more-products__title {
  font-size:16px;
  line-height:16px;
  color:#222222;
  text-transform:uppercase;
  width:100%;
  margin-top:13px;
  margin-bottom:13px;
}
.more-products__size, .more-products__price {
  font-size:14px;
  line-height:14px;
  font-family:$font-text;
  color:$color-text;
}
.more-products__button {
  @include green-button;
  width:100%;
  border-width:0;
  font-size:16px;
  line-height:20px;
  margin-top:15px;
  margin-bottom:17px;
}
.more-products__button:hover {
  background-color:#5eaa2f;
}
.more-products__button:active {
  color:#8fc46e;
}
@media all and (min-width: 768px) {
  .more-products-wrapper {
    padding:78px 30px 38px;
  }
  .more-products {
    flex-direction:row;
    border-left:1px solid $color-cdcdcd;
    border-right:1px solid $color-cdcdcd;
    padding:27px 36px 9px 36px;
  }
  .more-products:last-child {
    border-bottom:1px solid $color-cdcdcd;
  }
  .more-products__title {
    font-size:20px;
    width:auto;
    flex-grow:1;
    padding:0;
    margin:0;
  }
  .more-products__size, .more-products__price {
    font-size:16px;
    line-height:20px;
  }
  .more-products__price {
    width:95px;
    text-align:right;
  }
  .more-products__button {
    margin-top:25px;
  }
}
@media all and (min-width: 1200px) {
  .more-products-wrapper {
    padding:0 80px 0 0;
    flex-grow:1;
  }
  .more-products {
    border-left:none;
    border-right:none;
    align-items:center;
    padding:15px 0 16px 0;
  }
  .more-products__button {
    width:245px;
    margin:0;
  }
  .more-products__price {
    padding-right:40px;
    padding-top:10px;
  }
  .more-products__size {
    padding:0;
    padding-top:10px;
    width:190px;
  }
}
