.page-header__wrapper {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:65px;
  border-bottom:1px solid #e6e6e6;
}
.page-header__logo-image-item {
  margin-left:15px;
}
.page-header__logo-image-item:hover {
  opacity:0.8;
}
.page-header__logo-image-item:active {
  opacity:0.6;
}
.page-header__logo-text {
  margin-right:5px;
}
.page-header__menu-burger {
  margin-right:15px;
}
.page-header__menu-burger-img {
  background:url('../img/icon-mobile-menu.svg') no-repeat;
  background-size:30px 20px;
  width:30px;
  height:20px;
}
.page-header__menu-burger-img_close {
  background:url('../img/icon-close.svg') no-repeat;
}
.page-header__menu-wrapper {
  display:flex;
  flex-direction:column;
}
.page-header__menu-wrapper_hidden {
  display:none;
}
.page-header__menu-item {
  height:65px;
  text-transform:uppercase;
  border-bottom:1px solid #e6e6e6;
  text-align:center;
  vertical-align:middle;
}
.page-header__menu-link {
  display:block;
  width:100%;
  height:100%;
  font-weight:bold;
  font-size:20px;
  color: $color-menu;
  text-decoration:none;
  padding-top:17px;
}
a.page-header__menu-link:hover {
  opacity:0.6;
}
a.page-header__menu-link:active {
  opacity:0.3;
}
@media all and (min-width: 768px) {
  .page-header {
    display:flex;
    justify-content:space-between;
    padding-top:25px;
    padding-bottom:10px;
  }
  .page-header__wrapper {
    border:none;
  }
  .page-header__logo-image-item {
    margin-left:30px;
    width:173px;
    height:60px;
  }
  .page-header__menu-burger {
    display:none;
  }
  .page-header__menu-wrapper {
    flex-direction:row;
  }
  .page-header__menu-item {
    position:relative;
    margin-right:30px;
    margin-left:5px;
    border:none;
  }
  .page-header__menu-link {
    font-size:18px;
    line-height:24px;
    font-weight:normal;
    color:$color-menu-tablet;
  }
  .page-header__logo-text {
    display:none;
  }
  .page-header__logo-text-item {
    width:84px;
  }
  .page-header__menu-link_current::after {
    content:"";
    display:block;
    width:100%;
    position:absolute;
    top:50px;
    left:0px;
    border-bottom:2px solid #68b738;
  }
}
@media all and (min-width: 1200px) {
  .page-header {
    position:relative;
    z-index:2;
    margin-bottom:-130px;
    width:100%;
    box-sizing:border-box;
    padding:0 110px 0 110px;
    align-items:flex-end;
  }
  .page-header__wrapper {
    height:100px;
    align-items:flex-end;
    padding-bottom:20px;
  }
  .page-header__logo-image-item {
    position:relative;
    top:20px;
    margin:0;
    width:202px;
    height:60px;
  }
  .page-header__menu-item {
    margin-right:0;
    margin-left:35px;
  }
  .page-header__menu-link {
    font-size:20px;
    line-height:25px;
    color:$color-menu;
  }
  .page-header__menu-link_main {
    color:$color-menu-desktop;
  }
  .page-header__menu-link_main::after {
    border-color:$color-menu-desktop;
  }
  .page-header__logo-text {
    display:none;
  }
  .page-header__logo-text-item {
    width:137px;
  }
}
