.page-footer {
  background-color:$color-grey;
  padding:20px;
}
.page-footer__logo-text, .page-footer__socials {
  padding:20px 0 20px 0;
  text-align:center;
  border-bottom:1px solid $color-d9d9d9;
}
.page-footer__vk-icon, .page-footer__insta-icon, .page-footer__fb-icon {
  margin-right:25px;
  margin-left:13px;
  opacity:0.7;
  vertical-align:middle;
}
.page-footer__vk-icon {
  width:20px;
  height:20px;
}
.page-footer__copyrights {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top:20px;
}
.page-footer__text {
  font-size:16px;
  line-height:16px;
  font-family:Arial;
}
.page-footer__text-link {
  color:$color-text;
  text-decoration:none;
}
@media all and (min-width: 768px) {
  .page-footer {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 30px;

  }
  .page-footer__logo-text, .page-footer__socials {
    text-align:center;
    border:none;
    padding:0;
  }
  .page-footer__socials {
    padding-left:50px;
    margin-top:-10px;
  }
  .page-footer__vk-icon, .page-footer__insta-icon {
    width:30px;
    height:30px;
    margin-right:5px;
  }
  .page-footer__insta-icon {
    width:23px;
    height:23px;
    margin-right:5px;
  }
  .page-footer__fb-icon {
    width:30px;
    height:30px;
  }
  .page-footer__text-link {
    margin-right:20px;
  }
  .page-footer__copyrights {
    padding:0;
  }
}
@media all and (min-width: 1200px) {
  .page-footer {
    padding:60px 110px;
  }
}
