.product-item {
  display:flex;
  flex-wrap:wrap;
  border-top:1px solid $color-ededed;
  padding:10px 20px;
}
.product-item__button {
  @include green-button;
  border-width:0;
  width:100%;
  margin-bottom:14px;
  margin-top:-5px;
  font-size:16px;
  line-height:20px;
}
.product-item__button:hover {
  background-color:#5eaa2f;
}
.product-item__button:active {
  color:#8fc46e;
}
.product-item__title {
  margin-bottom:7px;
}
.product-item__title-link {
  font-family:$font-main;
  font-size:16px;
  line-height:20px;
  color:$color-111111;
  text-decoration:none;
  text-transform:uppercase;
}
.product-item__image-tag {
  margin-top:-10px;
}
.product-item__info {
  font-size:12px;
  line-height:16px;
  font-family:$font-text;
  color:$color-text;
  flex-grow:1;
}
.product-item__desc {
  width:100%;
  border-collapse:collapse;
}
.product-item__desc tr td:last-child {
  text-align:right;
}
.product-item_all-products {
  display:block;
  border-top:1px solid $color-ededed;
  border-bottom:1px solid $color-ededed;
  padding:20px;
  margin-bottom:17px;
  text-align:center;
}
.product-item__all-products-plus {
  text-align:center;
  opacity:(0.2);
  margin:10px 0px;
}
.product-item__all-products-text {
  font-family: $font-main;
  font-size:16px;
  line-height:20px;
  color:$color-111111;
  text-transform:uppercase;
  margin:10px 0 0 0;
  padding:0;
}
.product-item__all-products-small-text {
  font-size:12px;
  line-height:16px;
  font-family:$font-text;
  color:$color-text;
  margin-top:7px;
}
.product-item__all-products-button {
  @include green-button;
  width:100%;
  border-width:0;
  color:#222222;
  background-color:#f2f2f2;
  font-size:16px;
  line-height:20px;
  margin-top:20px;
  margin-bottom:5px;
}
.product-item__all-products-button:hover {
  background-color:#ebebeb;
}
.product-item__all-products-button:active {
  color:#c7c7c7;
}
.product-item__text-wrap-mobile {
  display:block;
  margin:0;
  padding:0;
}
@media all and (min-width: 768px) {
  .product-item {
    display:flex;
    flex-direction:column;
    position:relative;
    width:324px;
    border:none;
    background-color:#f2f2f2;
    padding:150px 40px 40px 40px;
    margin-bottom:138px;
    box-sizing:border-box;
  }
  .product-item__image {
    position:absolute;
    bottom:300px;
    left:0;
  }
  .product-item__title {
    margin-bottom:20px;
  }
  .product-item__image-tag {
    margin:0;
    height:auto;
    width:324px;
  }
  .product-item__info {
    text-align:center;
    margin-bottom:40px;
  }
  .product-item__title-link {
    font-size:20px;
  }
  .product-item__desc {
    width:100%;
    font-size:16px;
    line-height:28px;
    text-align:left;
  }
  .product-item__desc tr td {
    border-bottom:1px solid #cdcdcd;
    padding-right:0px;
    padding-left:0px;
  }
  .product-item__desc tr td:last-child {
    text-align:right;
  }
  .product-item__button {
    margin-bottom:0;
  }
  .product-item_all-products {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    background-color:$color-white;
    border:1px solid #e6e6e6;
    padding:40px 40px 0 40px;
  }
  .product-item__all-products-text {
    width:145px;
    font-size:20px;
    padding-top:30px;
  }
  .product-item__all-products-small-text {
    font-size:16px;
    line-height:auto;
    padding:0 20px;
    padding-top:20px;
  }
  .product-item__all-products-plus {
    width:60px;
    height:60px;
    margin-top:15px;
  }
  .product-item__all-products-button {
    color:$color-text;
    margin-top:72px;
  }
  .product-item__text-wrap-mobile {
    display:inline;
  }
  .product-item__text-wrap-desktop {
    display:block;
  }
}
@media all and (min-width: 1200px) {
  .product-item {
    box-sizing:border-box;
    width:245px;
    margin-bottom:140px;
  }
  .product-item__image {
    bottom:300px;
    left:0;
  }
  .product-item__image-tag {
    margin:0;
    height:auto;
    width:245px;
  }
  .product-item__info {
    margin-bottom:0;
  }
  .product-item__button {
    margin-top:33px;
  }
  .product-item_all-products {
    padding:40px 35px;
  }
  .product-item__all-products-small-text {
  max-width:170px;
    padding:20px 0px;
  }
  .product-item__all-products-button {
    margin-top:50px;
    margin-bottom:0;
  }
}
