.program {
  background-color:$color-grey;
  margin:20px 20px 0 20px;
  padding:30px 20px 17px 20px;
}
.program__logo {
  float:left;
  margin:0 10px 0 0;
}
.program__title {
  font-size:24px;
  line-height:37px;
  color:#111111;
  margin:0px;
  text-transform:uppercase;
}
.program__desc {
  clear:both;
  font-size:14px;
  line-height:18px;
  font-family:Arial;
  color:$color-text;
  padding:20px 0 20px 0;
  border-bottom:1px solid #d9d9d9;
}
.program__link {
  text-transform:uppercase;
  font-size:16px;
  line-height:16px;
  color:#111111;
  text-decoration:none;
}
@media all and (min-width: 768px) {
  .program {
    margin:30px;
    padding:75px 50px 60px 50px;
  }
  .program__logo {
    float:right;
  }
  .program__title {
    font-size:36px;
  }
  .program__desc {
    font-size:16px;
    line-height:24px;
    border:none;
    padding:10px 0 40px 0;
    width:55%;
  }
  .program__link {
    font-size:20px;
  }
}
@media all and (min-width: 1200px) {
  .program-wrapper {
    display:flex;
    margin:0 70px;
  }
  .program {
    margin:40px;
    padding:40px 50px 60px 50px;
  }
}
