.program {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  background-color:$color-grey;
  margin:22px 20px 0 20px;
  padding:22px 20px 23px 20px;
}
.program__logo {
  height:55px;
  width:70px;
  background:url("../img/icon-cat-slim.svg") no-repeat, url("../img/elipse-green.svg") no-repeat;
  background-size:50px 50px, 50px 50px;
  background-position:0px 0px,0px 2px;
}
  .program__logo_mass {
    position:relative;
    left:-10px;
    top:3px;
    background:url("../img/icon-cat-pro.svg") no-repeat, url("../img/elipse-green.svg") no-repeat;
    background-size:70px 50px, 50px 50px;
    background-position:0px -2px,12px 0px;
  }
.program__title {
  font-size:24px;
  line-height:37px;
  color:#111111;
  text-transform:uppercase;
  margin:0;
}
.program__desc {
  font-size:14px;
  line-height:18px;
  font-family:$font-text;
  color:$color-text;
  padding:5px 0 20px 0;
  border-bottom:1px solid #d9d9d9;
}
.program__link {
  text-transform:uppercase;
  font-size:16px;
  line-height:16px;
  color:#111111;
  text-decoration:none;
  padding-top:5px;
}
.program__link:active {
  opacity:0.3;
}
.program__link::after {
  content:"";
  display:inline-block;
  width:24px;
  height:10px;
  background:url('../img/icon-right-arrow-long.svg') no-repeat;
  margin-left:12px;
}
@media all and (min-width: 768px) {
  .program {
    display:block;
    margin:30px;
    padding:75px 50px 60px 50px;
  }
  .program__logo {
    position:relative;
    left:30px;
    float:right;
    height:250px;
    width:268px;
    background-size:268px 195px, 199px 199px;
    background-position:-5px 3px,28px 18px;
  }
  .program__logo_mass {
    height:250px;
    width:268px;
    left:25px;
    background-size:268px 195px, 199px 199px;
    background-position:0px 15px,35px 12px;
  }
  .program__title {
    font-size:36px;
  }
  .program__desc {
    font-size:16px;
    line-height:24px;
    border:none;
    padding:10px 0 39px 0;
    width:55%;
  }
  .program__link {
    font-size:20px;
  }
  .program__link::after {
  height:14px;
  margin-left:25px;
  }
}
@media all and (min-width: 1200px) {
  .program-wrapper {
    display:flex;
    justify-content:space-between;
    padding:80px 110px 45px;;
  }
  .program {
    display:flex;
    flex-wrap:wrap;
    width:570px;
    padding:37px 53px 60px 53px;
    box-sizing:border-box;
    margin:0;
  }
  .program__logo {
    position:relative;
    left:-10px;
    float:none;
    height:110px;
    width:134px;
    background-size:134px 100px, 100px 100px;
    background-position:-10px 3px,10px 10px;
  }
  .program__logo_mass {
    left:-20px;
    background-size:134px 100px, 100px 100px;
    background-position:0px 8px,20px 8px;
  }
  .program__title {
    padding-left:25px;
    padding-top:5px;
  }
  .program__desc {
    width:auto;
    padding-top:25px;
    padding-bottom:12px;
  }
  .program__link {
    width:100%;
  }
}
