.program-form__text {
  font-size:14px;
  line-height:18px;
  color:$color-111111;
  text-transform:uppercase;
  padding:0 20px 20px 20px;
  margin:0px;
}
.program-form__wrapper {
  display:flex;
  flex-direction:column;
  padding:20px 20px 5px 20px;
  font-size:16px;
  line-height:18px;
  color:#222222;
  text-transform:uppercase;
  border-bottom:1px solid $color-ededed;
}
.program-form__wrapper-2 {
  font-size:16px;
  line-height:18px;
  color:#222222;
  text-transform:uppercase;
  padding:20px;
}
.program-form__row {
  position:relative;
  display:flex;
  align-items:center;
  margin-bottom:15px;
}
.program-form__input {
  flex-grow:1;
  height:45px;
  border:1px solid #e6e6e6;
  margin-left:15px;
  font-size:14px;
  line-height:18px;
  color:$color-text;
  text-transform:uppercase;
  padding:0 15px;
}
.program-form__email, .program-form__phone {
  position:absolute;
  right:20px;
}
.program-form__label {
  margin:0 0 0 15px;
}
.program-form__textarea {
  font-family:Oswald;
  border:1px solid #e6e6e6;
  font-size:16px;
  line-height:18px;
  text-transform:uppercase;
  color:$color-text;
  width:100%;
  padding:15px;
}
.program__send-claim-button {
  @include green-button;
  width:100%;
  border-width:0;
  font-size:16px;
  line-height:20px;
  margin-bottom:25px;
}
.program-form__note-text {
  font-size:14px;
  line-height:16px;
  font-family:Arial;
  color:$color-text;
  text-transform:none;
  text-align:center;
  margin:0;
  padding:0px;
}
