.program-form__text {
  font-size:14px;
  line-height:18px;
  color:$color-111111;
  text-transform:uppercase;
  padding:0 30px 0px 20px;
  margin-top:0px;
}
.program-form__wrapper {
  display:flex;
  flex-direction:column;
  padding:20px 20px 7px 20px;
  font-size:16px;
  line-height:18px;
  color:#222222;
  text-transform:uppercase;
  border-bottom:1px solid $color-ededed;
}
.program-form__wrapper-1 {
  padding-bottom:30px;
}
.program-form__wrapper-2 {
  font-size:16px;
  line-height:18px;
  color:#222222;
  text-transform:uppercase;
  padding:27px 20px 15px 20px;
}
.program-form__wrapper-2_textarea {
  padding-bottom:30px;
}
.program-form__wrapper-2_products {
  padding-top:30px;
  padding-bottom:0px;
}
.program-form__wrapper-2_button {
  padding-top:21px;
  padding-bottom:0px;
}
.program-form__row {
  position:relative;
  display:flex;
  align-items:center;
  padding-bottom:13px;
}
.program-form__row_target {
  padding-bottom:6px;
}
.program-form__row_products {
  margin-bottom:0px;
  padding-bottom:10px;
}
.program-form__input {
  flex-grow:1;
  font-family:Oswald;
  height:45px;
  border:1px solid #e6e6e6;
  margin-left:12px;
  font-size:14px;
  line-height:18px;
  color:$color-text;
  text-transform:uppercase;
  padding:0 15px;
}
.program-form__wrapper_checkboxes {
  padding-top:20px;
}
.program-form__checkbox {
  display:none;
}
.program-form__radio {
  display:none;
}
.program-form__label::before {
  content:"";
  display:inline-block;
  width:30px;
  height:30px;
  border:1px solid #cfcfcf;
  vertical-align:middle;
  margin-right:15px;
}
.program-form__label_radio::before {
  border-radius:50%;
  margin-bottom:5px;
}
.program-form__radio:checked + .program-form__label::before {
  background:url("../img/elipse-green.svg") no-repeat;
  background-size:12px 12px;
  background-position:9px 9px;
}
.program-form__checkbox:checked + .program-form__label::before {
  background:url("../img/icon-tick.svg") no-repeat;
  background-size:21px 16px;
  background-position:5px 7px;
}
.program-form__email {
  position:absolute;
  right:15px;
  top:15px;
}
.program-form__phone {
  position:absolute;
  right:15px;
  top:15px;
}
.program-form__label {
  margin:0;
  padding:0;
}
.program-form__textarea {
  font-family:Oswald;
  border:1px solid #e6e6e6;
  font-size:16px;
  line-height:18px;
  text-transform:uppercase;
  color:$color-text;
  width:100%;
  height:150px;
  padding:15px;
  box-sizing:border-box;
}
.program-form__send-claim-button {
  @include green-button;
  width:100%;
  border-width:0;
  font-size:16px;
  line-height:20px;
  margin-bottom:25px;
}
.program-form__send-claim-button:hover {
  background-color:#5eaa2f;
}
.program-form__send-claim-button:active {
  color:#8fc46e;
}
.program-form__note-text {
  font-size:14px;
  line-height:16px;
  font-family:$font-text;
  color:$color-text;
  text-transform:none;
  text-align:center;
  margin:0;
  padding:0 0 30px 0;
}
@media all and (min-width: 768px) {
  .program-form__text {
    width:350px;
    font-size:20px;
    line-height:30px;
    padding:0 70px 25px 70px;
    margin-top:-80px;
  }
  .program-form__wrapper {
    font-size:20px;
    padding:20px 70px 5px 0px;
    border:none;
  }
  .program-form__wrapper-1 {
    padding-left:70px;
  }
  .program-form__wrapper-2 {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    font-size:20px;
    margin:72px 70px 50px 70px;
    padding:0;
  }
  .program-form__wrapper-2_textarea {
    margin-bottom:45px;
  }
  .program-form__wrapper-2_products {
    flex-direction:row;
    margin-top:55px;
    margin-right:0;
    margin-bottom:0;
  }
  .program-form__wrapper-2_button {
    margin-top:18px;
    margin-bottom:48px;
    flex-direction:row;
  }
  .program-form__row {
    margin-bottom:20px;
    padding-bottom:0;
  }
  .program-form__row_target {
    margin-bottom:5px;
  }
  .program-form__row_products {
    width:49%;
    padding-left:0px;
    margin-bottom:32px;
  }
  .program-form__input {
    height:50px;
    font-size:20px;
    padding:0 20px;
    margin-left:20px;
  }
  .program-form__email {
    right:20px;
    top:20px;
  }
  .program-form__label {
    line-height:35px;
    padding:0;
  }
  .program-form__wrapper_checkboxes {
    margin-top:50px;
    margin-bottom:55px;
    padding-left:30px;
    padding-top:25px;
    padding-bottom:10px;
    border:1px solid $color-ededed;
  }
  .program-form__label::before {
    width:40px;
    height:40px;
  }
  .program-form__label_radio::before {
    border-radius:50%;
    margin-bottom:5px;
  }
  .program-form__radio:checked + .program-form__label::before {
    background:url("../img/elipse-green.svg") no-repeat;
    background-size:20px 20px;
    background-position:10px 10px;
  }
  .program-form__checkbox:checked + .program-form__label::before {
    background:url("../img/icon-tick.svg") no-repeat;
    background-size:21px 16px;
    background-position:9px 11px;
  }
  .program-form__textarea {
    width:100%;
    height:175px;
    font-size:20px;
    line-height:30px;
    box-sizing:border-box;
    margin-bottom:25px;
    padding:10px 20px;
  }
  .program-form__send-claim-button {
    height:50px;
    width:285px;
    margin-right:60px;
    font-size:20px;
  }
  .program-form__note-text {
  font-size:16px;
  line-height:16px;
  font-family:$font-text;
  text-align:center;
  margin:0;
  padding:15px 0 0 0;
  }
}
@media all and (min-width: 1200px) {
  .program-form__text {
    padding-left:110px;
    padding-bottom:35px;
    margin-top:-110px;
    margin-left:0;
  }
  .program-form__input {
    margin-left:20px;
  }
  .program-form__wrapper {
    padding:0;
  }
  .program-form__wrapper-1 {
    padding:0 110px 65px 110px;
    display:flex;
    justify-content:space-between;
  }
  .program-form__wrapper {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-grow:1;
  }
  .program-form__wrapper-2 {
    margin:0;
    padding:0 110px;
  }
  .program-form__wrapper-2_textarea {
    padding-bottom:65px;
  }
  .program-form__wrapper_checkboxes {
    flex-direction:flex-start;
    width:570px;
    padding:20px 0 15px 30px;
    margin:10px 0 15px 80px;
    box-sizing:border-box;
    flex-grow:0;
  }
  .program-form__row {
    margin:0;
    margin-bottom:4px;
    height:55px;
    flex-grow:1;
  }
  .program-form__email, .program-form__phone {
    right:20px;
  }
  .program-form__row_target {
    margin-bottom:0;
    height:52px;
  }
  .program-form__row_desktop {
    width:570px;
    flex-grow:0;
    margin-right:80px;
  }
  .program-form__wrapper_desktop {
    padding:40px 110px 65px 110px;
    flex-direction:row;
  }
  .program-form__row_products {
    width:325px;
    box-sizing:border-box;
    flex-grow:0;
  }
  .program-form__textarea {
    margin-top:45px;
    padding:10px 20px;
    margin-bottom:5px;
  }
  .program-form__wrapper-2_products {
    padding-top:15px;
    padding-right:0;
  }
  .program-form__send-claim-button {
    width:570px;
    //margin-top:50px;
    margin-bottom:85px;
    margin-right:80px;
  }
  .program-form__wrapper-2_button {
    padding-top:50px;
  }
}
