.promo-ad {
  width:100%;
  max-width:400px;
  background:url('../img/gift-photo-mobile@1x.jpg') no-repeat;
  background-size:100% auto;
  background-clip:content-box;
  box-sizing:border-box;
  border:20px solid #ffffff;
  margin:0 auto 15px;
  text-align:center;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/gift-photo-mobile@2x.jpg") no-repeat;
      background-size:100% auto;
    }
}
.promo-ad__gift {
  filter:invert(100%);
  margin-top:65px;
}
.promo-ad__text {
  display:block;
  font-size:16px;
  line-height:120%;
  font-family:Arial;
  color:$color-white;
  padding:40px 0 30px 0;
}
@media all and (min-width: 768px) {
  .promo-ad {
    display:flex;
    justify-content:space-around;
    align-items:center;
    max-width:none;
    height:260px;
    border:30px solid #ffffff;
    margin-bottom:45px;
    background:url('../img/gift-photo-tablet@1x.jpg') no-repeat;
    background-size: 100% 260px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/gift-photo-tablet@2x.jpg") no-repeat;
      background-size: 100% 260px;
    }
  }
  .promo-ad__gift {
    position:relative;
    left:-35px;
    top:-5px;
    margin:0;
  }
  .promo-ad__text {
    position:relative;
    left:-5px;
    top:-5px;
    text-align:left;
  }
}
@media all and (min-width: 1200px) {
  .promo-ad {
    flex-direction:column;
    width:245px;
    height:auto;
    justify-content:flex-start;
    border-width:0;
    margin:0;
    flex-grow:0;
    background:url('../img/gift-photo-desktop@1x.jpg') no-repeat;
    background-size:auto 100%;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background:url("../img/gift-photo-desktop@2x.jpg") no-repeat;
      background-size:auto 100%;
    }
    
  }
  .promo-ad__gift {
    position:static;
    padding-top:65px;
    margin:0;
  }
  .promo-ad__text {
    position:static;
    text-align:center;
    padding:62px 0 0 0;
    margin:0;
  }
}
