.promo {
  background:url('../img/index-background-mobile@1x.jpg') no-repeat;
  background-size:100% auto;
  padding:25px 20px 0 20px;
  text-align:center;
}
.promo__title {
  color:$color-white;
  font-size:36px;
  line-height:36px;
  font-weight:normal;
  margin:0;
}
.promo__desc {
  color:$color-white;
  text-transform:uppercase;
  font-size:14px;
  margin-top:22px;
}
.promo__image {
  margin-top:10px;
}
.promo__link {
  @include green-button;
  width:100%;
  margin:0;
}
@media all and (min-width: 768px) {

  .promo {
    position:relative;
    height:780px;
    background:none;
    text-align:left;
    margin-left:95px;
    margin-top:15px;
  }
  .promo__title {
    width:420px;
    color:#111111;
    font-size:60px;
    line-height:60px;
  }
  .promo__desc {
    color:#111111;
    font-size:20px;
    margin-top:35px;

  }
  .promo__image {
    position:absolute;
    top:220px;
    left:20px;
    width:600px;
    height:590px;
  }
  .promo__link {
    position:relative;
    @include green-button;
    width:245px;
    height:52px;
    font-size:20px;
    line-height:50px;
    text-align:center;
    z-index:5;
    margin-top:40px;
    margin-left:5px;
  }
}
@media all and (min-width: 1200px) {
  .promo-wrapper {
    display:flex;
    justify-content:space-between;
    padding:65px 110px 90px;
  }
  .promo__title {
    width:430px;
    margin-top:90px;
  }
  .promo {
    position:relative;
    height:705px;
    box-sizing:border-box;
    background: url('../img/index-background-mobile@1x.jpg') right top no-repeat ;
    background-size:680px 705px;
    padding-top:140px;
    margin-left:190px;
    padding-left:0;
    margin-top:0;
  }
  .promo__image {
    position:absolute;
    top:140px;
    left:370px;
    width:552px;
    height:499px;
  }
  .promo__link {
    margin-top:50px;
    margin-left:0;
  }
}
