.title-catalog {
  font-family: Oswald;
  font-weight:normal;
  font-size:36px;
  margin:20px 20px 30px 20px;
}
.title-h2 {
  display:block;
  font-family: Oswald;
  font-weight:normal;
  font-size:24px;
  line-height:24px;
  color:#111111;
  margin:20px 0px 10px 20px;
}
.title-h2_form {
  margin-top:30px;
}
.title-h2__wrap {
  display:block;
  margin:0;
  padding:0;
}

@media all and (min-width: 768px) {
  .title-catalog {
    font-size:60px;
    margin-left:30px;
    margin-bottom:120px;
    margin-top:25px;
  }
  .title-h2-wrapper {
    background:url('../img/green_bg.png') repeat-x;
    background-position:left 15px;
    //border:1px solid red;
    padding-left:30px;
  }
  .title-h2 {
    display:inline-block;
    font-size:36px;
    margin:0;
    background-color:$color-white;
    padding:0 40px 0 40px;
    }
  .title-h2__wrap {
    display:inline;
  }
}
@media all and (min-width: 1200px) {
  .title-catalog {
    margin-top:180px;
    margin-left:110px;
    margin-bottom:155px;
  }
   .title-h2-wrapper {
    padding-left:70px;
  }
  .title-h2 {
    display:block;
    padding-left:40px;
    margin-left:0;
    margin-top:60px;
  }
  .title-h2_form {
    margin-top:65px;
    margin-bottom:40px;
  }
}
