.title-catalog {
  font-family: Oswald;
  font-weight:normal;
  font-size:36px;
  margin:20px 20px 30px 20px;
}
.title-h2-wrapper {
  //background:url('../img/green_bg.png') repeat-x;
  //background-position:left 15px;
  background:linear-gradient(to bottom, #ffffff 14px, #68b738 14px, #68b738 17px, #ffffff 17px);
}
.title-h2 {
  display:inline-block;
  font-family: Oswald;
  font-weight:normal;
  font-size:24px;
  line-height:24px;
  color:#111111;
  background-color:$color-white;
  padding:0 20px 0 20px;
  margin:0;
}
.title-h2_form {
  margin:0px;
}
.title-h2__wrap {
  display:block;
  margin:0;
  padding:0;
}

@media all and (min-width: 768px) {
  .title-catalog {
    font-size:60px;
    margin-left:30px;
    margin-bottom:120px;
    margin-top:25px;
  }
  .title-h2-wrapper {
    background:linear-gradient(to bottom, #ffffff 14px, #68b738 14px, #68b738 17px, #ffffff 17px);
    padding-left:30px;
  }
  .title-h2 {
    font-size:36px;
    padding:0 40px 0 40px;
    }
  .title-h2__wrap {
    display:inline;
  }
}
@media all and (min-width: 1200px) {
  .title-catalog {
    margin-top:180px;
    margin-left:110px;
    margin-bottom:155px;
  }
  .title-h2-wrapper {
    padding-left:70px;
  }
  .title-h2 {
    padding-left:40px;
  }
  .title-h2_form {
    margin-bottom:40px;
  }
}
