body {
  padding:0px;
  margin:0px;
  background: #ffffff;
  font-family: Oswald;
  font-weight:normal;
}
.catalog-title {
  font-family: Oswald;
  font-weight:normal;
  font-size:36px;
  margin:20px 20px 30px 20px;
}
.h2-title {
  display:block;
  font-family: Oswald;
  font-weight:normal;
  font-size:24px;
  color:#111111;
  margin:20px 0px 10px 20px;
}
