.features {
  padding:20px;
}

.features__title {
  font-family: Oswald; 
  font-size:36px;
  margin:0 0 30px 0;
}

.features__item {
  display:flex;
  margin:0;
  padding:0;
  
}

.features__logo-1, .features__logo-2, .features__logo-3, .features__logo-4  {
  background-color:$color-green;
  margin-right:20px;
  margin-bottom:20px;
  border:5px solid $color-green;

}


.features__desc {
  font-size:14px;
  line-height:18px;
  font-family:Arial;
  color:$color-text;
  
}
