$color-white: #ffffff;
$color-green: #68b738;
$color-grey: #f2f2f2;
$color-black: #000000;
$color-text: #444444;
$color-cdcdcd: #cdcdcd;
$color-111111: #111111;
$color-d9d9d9: #d9d9d9;
$color-ededed: #ededed;

@mixin green-button {
  display:block;
  height:40px;
  color:$color-white;
  background-color:$color-green;
  font-size:14px;
  line-height:40px;
  font-family:Oswald;
  text-transform:uppercase;
  text-decoration:none;
  
}

.catalog-title {
  font-family: Oswald; 
  font-weight:normal;
  font-size:36px;
  margin:20px 20px 30px 20px;
}

.h2-title {
  display:block;
  font-family: Oswald; 
  font-weight:normal;
  font-size:24px;
  margin:20px 0px 10px 20px;
  
}

body { 
  padding:0px;
  margin:0px;
  background: #ffffff; 
  }

@font-face {
    font-family: Oswald; 
    src: url(../fonts/oswaldregular.woff); 
   }
   
@font-face {
    font-family: Oswald2; 
    src: url(../fonts/oswaldregular.woff2); 
   }

@import "page-header.scss";
@import "promo.scss";
@import "program.scss";
@import "features.scss";
@import "example.scss";
@import "map.scss";
@import "page-footer.scss";
@import "product-list.scss";
@import "all-products.scss";
@import "more-products-wrapper.scss";
@import "promo-ad.scss";
@import "program-form.scss";


