$color-white: #ffffff;
$color-green: #68b738;
$color-grey: #f2f2f2;
$color-black: #000000;
$color-text: #444444;
$color-cdcdcd: #cdcdcd;
$color-menu: #111111;
$color-menu-tablet: #222222;
$color-menu-desktop: #ffffff;
$color-111111: #111111;
$color-d9d9d9: #d9d9d9;
$color-ededed: #ededed;
$font-text: "Arial", "Tahoma", sans-serif;
